import requests
import psycopg2
import sys

geoip= 'https://freegeoip.net/' 
format= 'json'
ip = '79.101.208.28'
db_name = 'geo_test'
#get the data from the web
r = requests.get(geoip+format+'/'+ip)

if r.status_code == 200:
    print r.json()

#check if db exists
conn = None
try: 
    conn_string = "host='127.0.0.1' dbname='postgres' user='dev_ops' password='devopstest'"
    conn = psycopg2.connect(conn_string)
    curs = conn.cursor()

    curs.execute("SELECT exists(SELECT 1 from pg_catalog.pg_database where datname = %s)", (db_name,))
    answer = curs.fetchall()
    if len(answer) > 0:
        print "Database {} exists".format(db_name)
    else:
        print "Database {} does NOT exist".format(db_name)
        curs.execute('CREATE DATABASE ' + db_name)
    
    curs.close()
    conn.close()

except psycopg2.DatabaseError, e:
    if conn:
        conn.rollback()
    
    print 'Error %s' % e    
    sys.exit(1)
    
finally:
    if conn:
        conn.close()

#check if table exists
conn = None
try: 
    conn_string = "host='127.0.0.1' dbname='geo_test' user='dev_ops' password='devopstest'"
    conn = psycopg2.connect(conn_string)
    curs = conn.cursor()

    curs.execute("select exists(select * from information_schema.tables where table_name=%s)", ('geo_test',))   
    answer = curs.fetchone()[0]
    if answer:
        print "Table geo_table exists"
    else:
        print "Table geo_test does NOT exist"

        curs.execute("CREATE TABLE geo_test_data()")

    curs.close()
    conn.close()

except psycopg2.DatabaseError, e:
    if conn:
        conn.rollback()
    
    print 'Error %s' % e    
    sys.exit(1)
    
finally:
    if conn:
        conn.close()

