-- This SQL script is compatible with PgSQL server 9.5.5 (and possibly later).
-- Script expects PgSQL DB instance to be created and selected for use BEFORE running the script.
-- Script will create new Schema called 'connected_car' within that existing DB instance;
-- then it'll continue creating all the tables underneath that Schema.
-- Keep in mind that PgSQL user that runs this script also becomes the OWNER of all these tables!
-------------------------------------------------------------------------------------------------

-- Create SCHEMA
CREATE SCHEMA geo_test;
SET search_path = geo_test_data, pg_catalog;
SET default_tablespace = '';
SET default_with_oids = false;
